*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

}
nav > span {
    color: #0D1321;
    font-size: 28px;
    font-weight: 900;
    
}
nav > button {
    padding: 16px 24px;
    background: none;
    border-radius: 8px;
    border: 1px solid #0D1321;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.banner{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 36px 0;
    
}

.banner-img{
    
    
    background-image: url(./images/Hero-bg.png);
    margin: 0 auto;
    text-align: center;
    padding: 26px 221px 45px 221px;
}

.banner-head{
    margin-top: 32px;
    font-family: "Azeret Mono";
    font-size: 48px;
    
}

.banner-text{
    margin-top: 24px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.banner-btn{
    margin-top: 32px;
    padding: 21px 24px;
    font-size: 20px;
    border-radius: 8px;
    background: #0D1321;
    color: #FFFFFF;
    cursor: pointer;
}

/* Why Web Development */
#whydev{
    max-width: 1140px;
    margin: 0 auto;
    /* margin-bottom: 24px; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-bottom: 24px;
}

.dev-head{
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 800;
    color: #0D1321;
}

.dev-p{
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    font-weight: 400;


}

.section-head {
    text-align: center;
    margin-bottom: 48px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 48px;
    margin: 28px;
    margin-right: 5px;
}
.item .item-text h3{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.item .item-text p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.item-head{
    color: rgba(13, 19, 33, 0.70);
    font-size: 280px;
    font-weight: 800;

}

.btn1{
    padding: 10px 18px;
    font-size: 18px;
}

.item2-btn{
    padding: 10px 18px;
    font-size: 18px;
}

.btn3{
    padding: 10px 18px;
    font-size: 18px;
}


/* My inspiration */

.ins{
    max-width: 1140px;
    margin: 0 auto;
}

.ins-head{
    margin-top: 85px;
    margin-bottom: 24px;
    font-size: 32px;
}

.video {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}
.video iframe {
    height: 550px;
    width: 100%;
    border-radius: 16px;
}


.current-page{
    max-width: 1140px;
    margin-top: 200px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.current-head{
    text-align: center;
    margin-top: 26px;
}

.cur-head{
    padding: 24px;
}

.lang-container{
    margin-top: 48px;
    /* display: flex; */
}

.lang{
    display: flex;
    /* margin-left: 24px; */
    justify-content: center;
    text-align: 0;
    box-sizing: border-box;
    box-shadow: #FFF;
    
    border-radius: 2px solid red;
}

.html-head{
    margin-top: 24px;
}

.html-p{
    margin-top: 8px;
    margin-bottom: 24px;
}

.lang-text-1{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.lang-text-2{
    margin-left: 24px;
    padding: 40px;
    border-radius: 16px;
    /* margin: 0 auto; */
    background: rgba(0, 76, 232, 0.05);
}

.css-head{
    margin-top: 24px;
}

.css-p{
    margin-top: 8px;
    margin-bottom: 24px;
}

.lang-text-3{
    margin-left: 24px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.js-head{
    margin-top: 24px;
}

.js-p{
    margin-top: 8px;
    margin-bottom: 24px;
}

/* My Current page/ */

.current-page{
    max-width: 1140px;
    margin-top: 200px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.current-head{
    text-align: center;
    margin-top: 26px;
}

.cur-head{
    padding: 24px;
}

.lang-container{
    margin-top: 48px;
    /* display: flex; */
}

.lang{
    display: flex;
    /* margin-left: 24px; */
    justify-content: center;
    text-align: 0;
    box-sizing: border-box;
    box-shadow: #FFF;
    
    border-radius: 2px solid red;
}

.html-head{
    margin-top: 24px;
}

.html-p{
    margin-top: 8px;
    margin-bottom: 24px;
}

.lang-text-1{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.lang-text-2{
    margin-left: 24px;
    padding: 40px;
    border-radius: 16px;
    /* margin: 0 auto; */
    background: rgba(0, 76, 232, 0.05);
}

.css-head{
    margin-top: 24px;
}

.css-p{
    margin-top: 8px;
    margin-bottom: 24px;
}

.lang-text-3{
    margin-left: 24px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.js-head{
    margin-top: 24px;
}

.js-p{
    margin-top: 8px;
    margin-bottom: 24px;
}


/* Support section */

.need-support{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 42px;
    
}

.support-container{
     
    background-image: url(./images/handshake.jpg);
    margin: 0 auto;
    text-align: center;
    padding: 64px 48px;
    margin-top: 42px;
}

.support-head{
    margin-bottom: 16px;
}

.support-p{
    margin-bottom: 24px;   
}

.support-search{
    /* padding: 19px 20px; */
    
    /* justify-content: space-between; */
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    
    background: #FFF;
    padding: 19px 20px;
    margin: 0 auto;
    /* align-items: center; */

}

.support-btn{
    margin-left: 16px;
    padding: 17px 20px;
    border-radius: 2px;
    background: #FFF;
    font-size: 20px;
    text-align: center;
    font-style: #0D1321;
}


/* last-item */

.last-part{
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px 150px;
    
}

.last-item{
    /* display: inline-flex; */
    justify-content: space-between;
}

.list-content{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

.last-head{
    /* margin: 0 auto; */
    margin-left: 0px;
    

}

.last-img{
    /* margin-right: 24px; */
}

.l-img1{
    margin-right: 24px;
}

.l-img2{
    margin-right: 24px;
}